<!DOCTYPE html>
<html lang="en">
    <%-include ('../partials/head') %>
<body>
  <%-include('../partials/admin/dash-navbar') %>
  <h2>DASHBOARD</h2>


    <%-include ('../partials/bottom-navbar')%>
</body>
</html>