
<div class="container-extra">
<div class="container">
<div class="col-sm-12 my-auto">
<div class="row">
    <div class="first-card col-sm-2">
        <div class="first-img-container">
            <div class="first-img "><img src="" >
            <div class="first-description card">
                <span class="first-title text-dark fw-bold">
                    PANTS
                </span>
            </div>
            <img class="" style="width: 200px; height: 140px ;" src="/productimages/for show2.jpeg" >
        </div>
    </div>
    </div> 
    <div class="first-card col-sm-2 ">
        <div class="first-img-container">
            <div class="first-img "><img src="" >
            <div class="first-description card">
                <span class="first-title text-dark fw-bold">
                SHIRTS
                </span>
            </div>
            <img class="" style="width: 200px; height: 140px ;" src="/productimages/for show1.jpeg" >
        </div>
    </div>
    </div>
    <div class="first-card col-sm-2">
        <div class="first-img-container">
            <div class="first-img "><img src="" >
            <div class="first-description card">
                <span class="first-title text-dark fw-bold">
                    WINTER
                </span>
            </div>
            <img class="" style="width: 200px; height: 140px ;" src="/productimages/for show3.jpeg" >
        </div>
    </div>
    </div>
  <div class="first-card col-sm-2">
    <div class="first-img-container">
        <div class="first-img "><img src="" >
        <div class="first-description card">
            <span class="first-title text-dark fw-bold">
            SUMMER
            </span>
        </div>
        <img class="" style="width: 200px; height: 140px ;" src="/productimages/for show4.jpeg" >
        </div>
</div>
</div>
<div class="first-card col-sm-2">
    <div class="first-img-container">
        <div class="first-img "><img src="" >
        <div class="first-description card">
            <span class="first-title text-dark fw-bold">
                CAP
            </span>
        </div>
        <img class="" style="width: 200px; height: 140px ;" src="/productimages/for show5.jpeg" >
        </div>
        
</div>
</div>



  
</div>
</div>
</div>
</div>