<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head')%>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="brand" href="/">PitBull</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    </ul>
                   
            </div>
        </div>
      </nav>
      <div class="d-flex justify-content-center mt-5 ">

      <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_kcsr6fcp.json"  background="#FFFFFF"  speed="1"  style="width: 600px; height: 600px;"  loop  autoplay></lottie-player>
     
</div>
<div class=" d-flex justify-content-center mb-3 border-2"><a href="/home"><button class="btn btn-outline-secondary ">GO HOME</button></a></div>



      <%- include ('./partials/bottom-navbar') %> 

      <script defer src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</body>
</html>